* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  background: #303030;
  background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
  background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
}
h2 {
  color: rgba(255,255,255,0.5); 
  font-family: "freight-micro-pro", Helvetica; 
  font-size: 34px; 
}
h4 {
  color: rgba(255,255,255,0.2);
  font-size: 10px; 
}
p {
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
  -webkit-font-smoothing: antialiased;
}
p:last-child {
  margin-bottom: 0px;
}
a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
a:hover {
  border-bottom: 1px solid rgba(255,255,255,1);
}

#monogram {
  margin: 50px auto 0 50px;
}
#social {
  position: relative;
  width: auto;
  top: -40px;
  margin-left: 90px;
}
#social i.icon-stack-base {
  color: rgba(0,0,0,0.7);
}
#social a {
  text-decoration: none;
  border-bottom: none;
}
#social a:hover {
  border-bottom: none;
}
#social a:hover i {
  color: #000;
}
#social a:hover i.icon-stack-base {
  color: #fff;
}

#about {
  width: 360px;
  padding: 15px;
  margin: -80px 50px 0 auto;
  background-color: rgba(0,0,0,0.7);
}

@media (max-width: 767px) {
  #monogram {
    width: auto;
    margin: 20px;
  }
  #social {
    position: relative;
    top: -60px;
    margin-left: 60px;
  }
  #about {
    width: auto;
    padding: 20px;
    margin: 0px 15px 0 15px;
  }
  background-image {
    opacity: 0.2;
  }
}
